@model IEnumerable<MvcFinalTest.Models.JobTypeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatePerHour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatePerHour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobTypeId })
        </td>
    </tr>
}

</table>
